<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>A Simple tool to convert prefix postfix and infix expressions!</h2>

<h3>Enter Expression</h3>
<textarea>

</textarea>
<br>
<label for="expression-types">Choose expression type</label>

<select name="expression-types" id="expression-types">
    <option value="prefix">Prefix</option>
    <option value="postfix">postfix</option>
    <option value="infix">infix</option>
</select>
</body>
</html>