<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
</head>
<body>
<h1>Output</h1>
<p th:if="${check == false}">Invalid <code th:text="${expression_type}"></code> Expression <code th:text="${expression}"></code></p>
<p th:unless="${check == false}">Valid <code th:text="${expression_type}"></code> Expression</p>

<th:block th:if="${check == true and #strings.equals(expression_type,'infix')}">
    <h3 th:text="'Entered '  + ${expression_type} + ' expression'"></h3>
    <textarea th:text="${expression}"></textarea>

    <h3>Generated Prefix expression</h3>
    <textarea th:text="${infix_to_prefix}"></textarea>

    <h3>Generated Postfix expression</h3>
    <textarea th:text="${infix_to_postfix}"></textarea>

</th:block>

<th:block th:if="${check == true and #strings.equals(expression_type,'prefix')}">
    <h3 th:text="'Entered '  + ${expression_type} + ' expression'"></h3>
    <textarea th:text="${expression}"></textarea>

    <h3>Generated Infix expression</h3>
    <textarea th:text="${prefix_to_infix}"></textarea>

    <h3>Generated Postfix expression</h3>
    <textarea th:text="${prefix_to_postfix}"></textarea>
</th:block>

<th:block th:if="${check == true and #strings.equals(expression_type,'postfix')}">
    <h3 th:text="'Entered '  + ${expression_type} + ' expression'"></h3>
    <textarea th:text="${expression}"></textarea>

    <h3>Generated Prefix expression</h3>
    <textarea th:text="${postfix_to_prefix}"></textarea>

    <h3>Generated Infix expression</h3>
    <textarea th:text="${postfix_to_infix}"></textarea>

</th:block>
</body>
</html>